<!doctype html>
<html>
<head>
    <title>Add User</title>
</head>
<body>
    <h1>Add User</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="salary">Salary:</label>
        <input type="text" name="salary" id="salary">
        <br>
        <label for="room">Room:</label>
        <input type="text" name="room" id="room">
        <br>
        <label for="telnum">Telnum:</label>
        <input type="text" name="telnum" id="telnum">
        <br>
        <label for="picture">Picture:</label>
        <input type="file" name="picture" id="picture">
        <br>
        <label for="keywords">Keywords:</label>
        <input type="text" name="keywords" id="keywords">
        <br>
        <input type="submit" value="Add User">
    </form>
</body>
</html>
