<!doctype html>
<html>
<head>
    <title>Cost Search</title>
</head>
<body>
    <h1>Cost Search</h1>
    <form method="post">
        <label for="min_cost">Min Cost:</label>
        <input type="text" name="min_cost" id="min_cost">
        <br>
        <label for="max_cost">Max Cost:</label>
        <input type="text" name="max_cost" id="max_cost">
        <br>
        <input type="submit" value="Search">
    </form>
    <ul>
    {% for person in result %}
        <li>{{ person['Name'] }} - {{ person['Salary'] }} - {{ person['Room'] }} - {{ person['Telnum'] }} - {{ person['Picture'] }} - {{ person['Keywords'] }}</li>
    {% endfor %}
    </ul>
</body>
</html>
