<!doctype html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <h1>{{ Manohar Bontha }}</h1>
    <h2>ID: {{ 1002091309 }}</h2>
    <img src="https://manoharb1.blob.core.windows.net/manoharb1/dhru.jpg?sp=r&st=2024-06-11T04:43:26Z&se=2024-06-11T12:43:26Z&sv=2022-11-02&sr=b&sig=NtT9MtVC4u5H%2F%2BXhstDm3h%2BexJo9Ad7YwDFBma0poFQ%3D" alt="Picture">
    <br>
    <a href="/upload">Upload</a> | 
    <a href="/search">Search</a> | 
    <a href="/name_search">Name Search</a> | 
    <a href="/cost_search">Cost Search</a> | 
    <a href="/update_description">Update Description</a> | 
    <a href="/delete">Delete</a> | 
    <a href="/add_user">Add User</a>
</body>
</html>
