<!doctype html>
<html>
<head>
    <title>Name Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Name Search</h1>
    <form method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <br>
        <input type="submit" value="Search">
    </form>
    <ul>
    {% for person in result %}
        <li>{{ person['Name'] }} - {{ person['Salary'] }} - {{ person['Room'] }} - {{ person['Telnum'] }} - {{ person['Picture'] }} - {{ person['Keywords'] }}</li>
    {% endfor %}
    </ul>
</body>
</html>
