<!doctype html>
<html>
<head>
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <h1>Search</h1>
    <form method="post">
        <label for="search_by">Search by:</label>
        <select name="search_by" id="search_by">
            <option value="name">Name</option>
            <option value="salary">Salary Range</option>
        </select>
        <br>
        <label for="value">Value:</label>
        <input type="text" name="value" id="value">
        <br>
        <input type="submit" value="Search">
    </form>
    <ul>
    {% for person in result %}
        <li>{{ person['Name'] }} - {{ person['Salary'] }} - {{ person['Room'] }} - {{ person['Telnum'] }} - {{ person['Picture'] }} - {{ person['Keywords'] }}</li>
    {% endfor %}
    </ul>
</body>
</html>
