<!doctype html>
<html>
<head>
    <title>Upload</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Upload Files</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="file">Upload CSV:</label>
        <input type="file" name="file" id="file">
        <br>
        <label for="pictures">Upload Pictures:</label>
        <input type="file" name="pictures" id="pictures" multiple>
        <br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>
